
body {
    margin: 0;
    padding: 0;
}
nav {
    background-color: rgba(15, 239, 247, 0.295); 
    padding: 16px 32px;
    color: rgb(255, 255, 255);
    
}

nav a {
    margin-right: 16px;
    color: rgba(255, 255, 255, 0.781);
}


img {
    width: 50px;
    height: 30px;
    margin-right: 10px;
}


.container {

    width: 100vw; /* Make the container span the entire viewport width */
    height: 100vh; /* Make the container span the entire viewport height */
    background-image: url('./images/bg.jpg'); /* Replace with the path to your image */
    background-size: cover;
    padding: 0px;
}

.content {
    max-width: 800px; /* Limit the width of the content */
    text-align: left;
    color: white; /* Set text color to white */
   
}

.content p {
    font-size: 60px; /* Set font size for the paragraph */
}

.content a {
    color: rgb(255, 255, 255); /* Set link color to white */
    text-decoration: underline; /* Add underline to the link */
    display: block; /* Make the link a block element */
    margin-top: 20px; /* Add space between paragraph and link */
}
